﻿@model SaveOrg.ViewModels.Address

@Html.HiddenFor(x => x.AddressId)

<div>
  <dl class="dl-horizontal">
    <dt>
      @if (Model.IsPrimary)
      {
        <label>Primary Address</label>
      }
    </dt>

    <dt>
      @Html.DisplayNameFor(model => model.Address1)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Address1)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Address2)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Address2)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.City)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.City)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.State)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.State)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.ZipCode)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.ZipCode)
    </dd>
  </dl>
</div>
@*need an edit button here for later beastmode sessions*@
